.details-content {

  top: 0;
  left: 0;
  padding: 42px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../static/images/bg.jpg") no-repeat;
  background-size: cover;
}

.personal {
  display: grid;
  grid-template-areas: "picture info";
  grid-template-rows: 218px;
  grid-template-columns: 218px 420px;
}


.portrait {
  display: flex;
  grid-area: picture;
  flex-direction: column;
  justify-content: center;
  label {

  }
}

img#Portrait {
  width: 200px;
}

.name-title {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}