
.cover-container {
  width: 85vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  transform: translate(0, 0);
  transition: all 0.6s ease-in-out;

  &.opened {
    transform: translate(-100%, 0);
  }

  .sub-title {
    font-size: 1.4em;
    font-family: $font-family-text;
  }
}

.vertical-button {
  background: $color-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 85vw;
  cursor: pointer;
  width: 5rem;
  border-left: $color-accent 9px solid;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  .chevron-wrapper {
    height: 4rem;
    width: 4rem;

    svg#icon-chevron-right {
      fill: $color-accent;
    }
  }
}

.cover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 100vh;
  background: url("../static/images/bg-cover.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-wrapper {
  width: 42rem;
}